body{
	background-image: url("bgr.jpg");
	background-size: 100vw 100vh;
}

#container{
	background:rgba(200,200,200,0.3);
	border-radius: 5px;
}

input[type=file]{
	width: 300px;
	margin: 0px 0px 12px 0px;
	color: #ccc;
}

button{
	width: 300px;
	border: 1px gray solid;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 5px;
	margin-bottom: 10px;
}

img{
	border-radius: 10px;
}